@model Workout

@{
    ViewData["Title"] = "Workout Details";
}

<div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-12">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text"><b>Workout Type: </b>
                            <a asp-controller="WorkoutTypes" asp-action="Details" asp-route-id="@Model.WorkoutId">
                                @Model.WorkoutType.Name
                            </a>
                            </p>
                        <p class="card-text">
                            <b>Sponsor: </b>
                            <a asp-controller="Sponsors" asp-action="Details" asp-route-id="@Model.SponsorId">
                                @Model.Sponsor.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Gender: </b>@Model.Gender</p>
                            <p class="card-text"><b>Experience: </b>@Model.WorkoutExperience</p>
                            <p class="card-text"><b>Train Days per Week: </b>@Model.Days</p>
                            <p class="card-text"><b>Goal: </b>@Model.Goal</p>
                        <p class="card-text"><b>Equipment needed: </b>@Model.Equipment</p>
                            <p class="card-text "><b>Status: </b><span class="badge bg-success text-white">AVAILABLE</span></p>

                            <p class="card-text">
                                <b>Athletes: </b>
                                <hr />
                                <div class="row">
                                    @foreach (var athlete in Model.Athletes_Workouts)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@athlete.Athlete.ProfilePictureURL" style="max-width: 150px"/>
                                        <br>
                                        <a asp-controller="Athletes" asp-action="Details" asp-route-id="@athlete.AthleteId">@athlete.Athlete.FullName</a>
                                    </div>
                                }
                                </div>
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Back to List
                                </a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                    Add to Cart (Price @Model.Price.ToString("c"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
